body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
    display:none; 
    position:absolute; 
    text-align:center; 
    border:1px solid black; 
    background-color:#EEEE00; 
    padding:2px; 
    font-family:Arial; 
    font-size:12px;
}

.other {
    background-color:#dadada; 
}